<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__ROOT__/bin/node</string>
    <string>__ROOT__/server.js</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>__ROOT__/logs/out.log</string>
  <key>StandardErrorPath</key>
  <string>__ROOT__/logs/err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>LINKS_PORT</key>
    <string>__PORT__</string>
    <key>LINKS_HOME</key>
    <string>__LINKS_HOME__</string>
  </dict>
</dict>
</plist>
